{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'base-style.css' %}">

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    {% block header_scripts %}

    {% endblock header_scripts %}

    {% block css %}

    {% endblock css %}
    <title>Estimación de riesgo en consumo de agua</title>
</head>
<body>
    <div class="container">
    <header class="text-center py-3 mb-4 border-bottom">
        <img alt="Logo del Laboratorio de Epidemiología Ambiental" 
        src="{% static 'lea-lab-logo.jpeg' %}" width="50%"/>
        <div class="fs-3 app-title">Estimación de riesgo en el consumo de agua</div>
    </header>
    
  </div>
    {% block content %}

    {% endblock content %}
    <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">Unidad Académica de Ciencias Químicas  | Universidad Autónoma de Zacatecas</span>
    </div>
    </footer>
    {% block footer_scripts %}

    {% endblock footer_scripts %}
</body>
</html>