{% extends 'base.html' %}

{% load bootstrap5 %}

{% load leaflet_tags %}


{% block header_scripts %}

    {% leaflet_js %}
    <script>
        const dataurl = '{% url "mapi:pozos" %}';
        const colores = {
                    'Rojo': '#DA012D',
                    'Verde': '#008000',
                    'Amarillo': '#ffd700'
                }
        
        window.addEventListener("map:init", function (event) {
            const map = event.detail.map;
            const mk = L.marker();
            const latField = document.getElementById("id_lat");
            const lonField = document.getElementById("id_lon");
            
            fetch(dataurl)
                .then(function(resp) {
                    return resp.json();
                })
                .then(function(data) {
                    data.forEach(pozo => {
                        L.circle([pozo.lat, pozo.lon], {
                                    color: colores[pozo.semaforo],
                                    fillColor: colores[pozo.semaforo],
                                    fillOpacity: 0.5,
                                    radius: 1000
                                }).addTo(map);
                    })
                });

            if(latField.value != ""  || lonField.value != "" ) {
                 mk.setLatLng(L.latLng(latField.value , lonField.value)).addTo(map);
            }

            function onMapClick(e) {
                mk.setLatLng(e.latlng).addTo(map);
                latField.value = e.latlng.lat;
                lonField.value = e.latlng.lng;
            }

            function getUbicacion() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position){
                        const lat = position.coords.latitude;
                        const lon = position.coords.longitude;
                        latField.value = lat; 
                        lonField.value = lon; 
                        mk.setLatLng(L.latLng(lat, lon)).addTo(map);
                        map.setZoom(4);
                        map.panTo([lat, lon]);
                    }, (error) => console.log(new Date(), error), 
                    { enableHighAccuracy: false, timeout: 5000});
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            map.on('click', onMapClick);
            document.getElementById("btn-ubicar").onclick = getUbicacion;

        });

        function enableFormSubmit() {
            let subBtn =  document.getElementById('submit-btn');
            subBtn.classList.remove("btn-secondary");
            subBtn.classList.add("btn-info");
            subBtn.disabled = false;
        }
    </script>
{% endblock header_scripts %}

{% block css %}

    {% leaflet_css %}  
    <style>
        .leaflet-container {  /* all maps */
            width:  600px;
            height: 400px;
        }

        .invalid-feedback {
            display: inline-block;
            font-size: 1.25em;
            text-align: center;
            margin-bottom: 20px
        }

        .errorlist {
            list-style: outside none none;
        }
    </style>
{% endblock css %}

{% block content %}
 <div class="px-4 py-5 my-5 text-center">
   <h1 class="display-6 fw-bold">¿Sabías que la calidad del agua que consumes puede afectar tu salud?</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"></p>
      <p class="mb-4 h3"> Utiliza el siguiente cuestionario para saber si estás en riesgo </p>
    </div>
  </div>

  <div class="divider"></div>
  
    <div class="container" style="max-width:600px; padding:0">
        <div class="py-5">
            <div class="row">
                    <form method="post" id="encuesta-form" novalidate>
                        {% csrf_token %}
                        <div class="py-5 text-center">
                            <p class="lead">Haz click en la posición deseada en el mapa o utiliza el botón para
                            identificar tu ubicación</p>
                            <button type="button" id="btn-ubicar"  class="btn btn-app">Identificar mi ubicación</button>
                        </div>
                        
                        {% leaflet_map "main"%}
                      
                        <div class="my-3">
                            {{ form.lat.as_hidden }}
                            {{ form.lon.as_hidden }}
                            <div class="invalid-feedback">
                                {{ form.lat.errors }}
                                {{ form.lon.errors }}
                            </div>
                            <label class="form-label" for="{{ form.edad.auto_id }}">{{ form.edad.label }}</label>
                            <div class="mb-3">
                                {{ form.edad }}
                            </div>

                            <label class="form-label" for="{{ form.peso.auto_id }}">{{ form.peso.label }}</label>
                            <div class="mb-3">
                                {{ form.peso }}
                            </div>

                            <label class="form-label" for="{{ form.sexo.auto_id }}">{{ form.sexo.label }}</label>
                            <div class="mb-3">
                                {{ form.sexo }}
                            </div>

                            <label class="form-label" for="{{ form.agua_cocinar.auto_id }}">{{ form.agua_cocinar.label }}</label>
                            <div class="mb-3">
                                {{ form.agua_cocinar }}
                            </div>

                            <label class="form-label" for="{{ form.agua_tomar.auto_id }}">{{ form.agua_tomar.label }}</label>
                            <div class="mb-3">
                                {{ form.agua_tomar }}
                            </div>

                            <label class="form-label" for="{{ form.cuidador.auto_id }}">{{ form.cuidador.label }}</label>
                            <div class="mb-3">
                                {{ form.cuidador }}
                            </div>

                            <label class="form-label" for="{{ form.vasos.auto_id }}">{{ form.vasos.label }}</label>
                            <div class="mb-3">
                                {{ form.vasos }}
                            </div>

                            <label class="form-label" for="{{ form.vasos.auto_id }}">{{ form.captcha.label }}</label>
                            <div class="mb-3">
                                {{ form.captcha }}
                               
                            </div>
                            <div class="invalid-feedback">
                                {{ form.captcha.errors }}
                            </div>

                            <input type="submit" class="btn btn-app" value="Enviar" id="submit-btn" disabled="true">
                        </div>
                    </form>
            </div>
        </div>
    </div>
 {% endblock content %}

{% block footer_scripts %}
<script>
    (function () {
    'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        let form = document.getElementById('encuesta-form')

        // Loop over them and prevent submission
   
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
        });
    })()
</script>
{% endblock footer_scripts %}