{% extends 'base.html' %}

{% block css %}
   <style>
        .b-example-divider {
            height: 3rem;
            background-color: rgba(139, 206, 172, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .125em 1.5em rgba(48, 118, 83, .3), inset 0 .125em .5em rgba(48, 118, 83, .3);
        }
        div.color {
          max-width: 75px;
          margin: 0 auto;
          height: 50px;
        }

        div.nombre {
          display: flex;
          align-items: flex-end;
          justify-content: center; 
          min-height: 60px;
        }
    </style>
{% endblock css %}


{% block content %}

<div class="px-4 py-5 my-5 text-center">
   <h1 class="display-6 fw-bold">¡Gracias por contestar la encuesta!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"> Recuerda que los resultados son una guía y no deben utilizarse para tomar decisiones médicas.</p>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="px-4 py-5 my-5 text-center">
   <p class="h3">Estas son las características de la fuente de abastecimiento de agua más cercana a la posición que indicaste. <p/>
    <p class="h4"> Ubicación: <span>{{pozo.municipio}}</span>, <span>{{pozo.estado}}</span>.</p>

    <div class="col-lg-6 mx-auto">
      <div class="container" id="contaminantes">
        <div class="row">
          <div class="col-sm ">
            <div class="col nombre my-2 lead">Alcalinidad</div>
            <div class="col color" id="alc" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
           <div class="col-sm ">
            <div class="col nombre my-2 lead">Arsénico</div>
            <div class="col color" id="as" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
          <div class="col-sm ">
            <div class="col nombre my-2 lead">Cadmio</div>
            <div class="col color" id="cd" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
          <div class="col-sm">
            <div class="col my-2 nombre lead">Coliformes Fecales</div>
            <div class="col color" id="coli" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="col my-2 nombre lead">Conductividad</div>
            <div class="col color" id="conduct" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
          <div class="col-sm">
            <div class="col my-2 nombre lead">Cromo</div>
            <div class="col color" id="cr" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
          <div class="col-sm">
              <div class="col my-2 nombre lead">Dureza</div>
              <div class="col color" id="dur" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
          <div class="col-sm">
            <div class="col my-2 nombre lead">Fluoruros</div>
            <div class="col color"  id="fluor" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
              <div class="col my-2 nombre lead">Hierro</div>
              <div class="col color" id="fe" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
          <div class="col-sm">
              <div class="col my-2 nombre lead">Mercurio</div>
              <div class="col color" id="hg" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
          <div class="col-sm">
              <div class="col my-2 nombre lead">Manganeso</div>
              <div class="col color" id="mn" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
          <div class="col-sm">
              <div class="col my-2 nombre lead">Nitrógeno de Nitratos</div>
              <div class="col color" id="nno3" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
              <div class="col my-2 nombre lead">Plomo</div>
              <div class="col color" id="pb" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
          <div class="col-sm">
              <div class="col my-2 nombre lead">Sólidos Disueltos <br/>(Riego agrícola)</div>
              <div class="col color" id="sdtm_ra" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
          <div class="col-sm">
            <div class="col my-2 nombre lead">Sólidos Disueltos <br/>(Salinidad)</div>
            <div class="col color" id="sdtm_sal" data-bs-toggle="tooltip" data-bs-placement="bottom"></div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="b-example-divider"></div>
<div class="px-4 py-5 my-5 text-center">
    <p class="h4"> Indicaste que tu peso es de {{encuesta.peso}} kg. y consumes un total de agua de
    {{encuesta.total_vasos}} ml </p>
    <p class="lead mb-4">Con esta información, a continuación te mostramos los cocientes de riesgo dados los contaminantes
    presentes en la fuente de abastecimiento</p>

    <div class="col-lg-6 mx-auto">
        <div class="container" id="contaminantes">
          <div class="row">
            <div class="col-sm ">
              <div class="col nombre my-2 lead">Arsénico Cancerígeno</div>
              <p class="h4">{{stats.riesgo_as_ca}}</p>
            </div>
            <div class="col-sm ">
              <div class="col nombre my-2 lead">Arsénico Efectos Dérmicos</div>
              <p class="h4">{{stats.riesgo_as_der}}</p> 
            </div>
            <div class="col-sm">
              <div class="col my-2 nombre lead">Cadmio</div>
              <p class="h4">{{stats.riesgo_cd}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="col my-2 nombre lead">Cromo</div>
              <p class="h4">{{stats.riesgo_cr}}</p> 
            </div>
            <div class="col-sm">
              <div class="col my-2 nombre lead">Cadmio</div>
              <p class="h4">{{stats.riesgo_cd}}</p>
            </div>
            <div class="col-sm">
              <div class="col my-2 nombre lead">Fluoruros</div>
              <p class="h4">{{stats.riesgo_fl}}</p> 
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="col my-2 nombre lead">Mercurio</div>
              <p class="h4">{{stats.riesgo_hg}}</p> 
            </div>
            <div class="col-sm">
              <div class="col my-2 nombre lead">Manganeso</div>
              <p class="h4">{{stats.riesgo_mn}}</p>
            </div>
          </div>
        </div>
    </div>  
</div>

{% endblock content %}

{% block footer_scripts %}
  <script>
    const contams = [...document.querySelectorAll('#contaminantes > div >div >div:nth-child(2)')].map(({ id }) => id);
    const pozo = {{ pozo|safe }}
    contams.forEach(c => {
      document.getElementById(c).style.background = pozo[c+"_color"]
      document.getElementById(c).setAttribute("title", pozo[c+"_descripcion"]);
    });

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
     })

  </script>
{% endblock footer_scripts %}

