{% load leaflet_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <script>
        const dataurl = '{% url "mapi:pozos" %}';
        const colores = {
                    'ROJO': '#DA012D',
                    'VERDE': '#008000',
                    'AMARILLO': '#ffd700'
                }
        
        window.addEventListener("map:init", function (event) {
            const map = event.detail.map;
            const mk = L.marker();
            const latField = document.getElementById("id_lat");
            const lonField = document.getElementById("id_lon");
            
            fetch(dataurl)
                .then(function(resp) {
                    return resp.json();
                })
                .then(function(data) {
                    data.forEach(pozo => {
                        L.circle([pozo.lon, pozo.lat], {
                                    color: colores[pozo.semaforo],
                                    fillColor: colores[pozo.semaforo],
                                    fillOpacity: 0.5,
                                    radius: 1000
                                }).addTo(map);
                    })
                });


            function onMapClick(e) {
                mk.setLatLng(e.latlng).addTo(map);
                latField.value = e.latlng.lat;
                lonField.value = e.latlng.lng;
            }

            function getUbicacion() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position){
                        const lat = position.coords.latitude;
                        const lon = position.coords.longitude;
                        latField.value = lat; 
                        lonField.value = lon; 
                        mk.setLatLng(L.latLng(lat, lon)).addTo(map);
                        map.setZoom(4);
                        map.panTo([lat, lon]);
                    });
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            map.on('click', onMapClick);
            document.getElementById("btn-ubicar").onclick = getUbicacion;

        });
    </script>
    <style>
     .leaflet-container {  /* all maps */
            width:  600px;
            height: 400px;
        }
    </style>
</head>
<body>
    <div class="container" style="max-width:600px">
            <p>Ubica la posición deseada en el mapa o utiliza el botón para
            identificar tu ubicación</p>
    <button id="btn-ubicar">Identificar ubicación</button>
    {% leaflet_map "main"%}
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <p>Por favor contesta las siguientes preguntas</p>
         
        </div>
        <div class="py-5">
            <div class="row">
                <div class="col-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
