{% load leaflet_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <script>
        const dataurl = '{% url "mapi:pozos" %}';
        const colores = {
                    'ROJO': '#DA012D',
                    'VERDE': '#008000',
                    'AMARILLO': '#ffd700'
                }

        window.addEventListener("map:init", function (event) {
            const map = event.detail.map;
            const popup = L.popup();
            // Download GeoJSON data with Ajax
            fetch(dataurl)
                .then(function(resp) {
                    return resp.json();
                })
                .then(function(data) {
                    data.forEach(pozo => {
                        L.circle([pozo.lon, pozo.lat], {
                                    color: colores[pozo.semaforo],
                                    fillColor: colores[pozo.semaforo],
                                    fillOpacity: 0.5,
                                    radius: 1000
                                }).addTo(map);
                    })
                });


            function onMapClick(e) {
                console.log(e)
                popup
                    .setLatLng(e.latlng)
                    .setContent("You clicked the map at " + e.latlng.toString())
                    .openOn(map);
            }

            map.on('click', onMapClick);

        });
    </script>
</head>
<body>
    <div class="container" style="max-width:600px">
    {% leaflet_map "main" %}
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <p>Por favor contesta las siguientes preguntas</p>
         
        </div>
        <div class="py-5">
            <div class="row">
                <div class="col-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
